theme = "tokyonight"

[editor]
line-number = "relative"
mouse = true
bufferline = "multiple"
end-of-line-diagnostics = "hint"
trim-trailing-whitespace = true

[editor.inline-diagnostics]
cursor-line = "warning"

[editor.whitespace.render]
space = "all"
tab = "all"

[editor.indent-guides]
render = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[keys.insert]
j = { j = "normal_mode" }

[keys.normal.g]
H = ":reset-diff-change"

[keys.normal]
C-g = [
    ":write-all",
    ":new",
    ":insert-output lazygit",
    ":set mouse false", # First disable mouse to hint helix into activating it
    ":set mouse true",
    ":buffer-close!",
    ":redraw",
    ":reload-all"
]
